# Twitter

---

Group name: Gruppe B

---

# Setup

In [33]:
import tweepy

In [34]:
from keys import *

In [35]:
import requests

client = tweepy.Client( bearer_token=bearer_token, 
                        consumer_key=consumer_key, 
                        consumer_secret=consumer_secret, 
                        access_token=access_token, 
                        access_token_secret=access_token_secret, 
                        return_type = requests.Response,
                        wait_on_rate_limit=True)

## Obtaining tweets

In [36]:
# WIRED: defining simple query (excluding retweets)
query_wired = 'from:WIRED -is:retweet'

In [37]:
# FiveThirtyEight: defining simple query (excluding retweets)
query_fte = 'from:FiveThirtyEight -is:retweet'

In [38]:
# WIRED: obtaining tweets
tweets_wired = client.search_recent_tweets(query=query_wired, 
                                    tweet_fields=['author_id', 'created_at'],
                                     max_results=100)

In [39]:
# FiveThirtyEight: obtaining tweets
tweets_fte = client.search_recent_tweets(query=query_fte, 
                                    tweet_fields=['author_id', 'created_at'],
                                     max_results=100)

## Converting tweets to pandas dataframe

In [40]:
import pandas as pd

In [41]:
# WIRED

# Saving data as dictionary
tweets_wired_dict = tweets_wired.json() 

# Extracting "data" value from dictionary
tweets_wired_data = tweets_wired_dict['data'] 

# Transforming to pandas Dataframe
df_wired = pd.json_normalize(tweets_wired_data)

In [42]:
df_wired.head()

,author_id,id,created_at,text,edit_history_tweet_ids
0,1344951,1592524334798512128,2022-11-15T14:26:03.000Z,WIRED\nEasy to set up. Snappy interface. Great...,[1592524334798512128]
1,1344951,1592519307468087297,2022-11-15T14:06:05.000Z,"Larp, short for live action role playing, migh...",[1592519307468087297]
2,1344951,1592511744806486016,2022-11-15T13:36:02.000Z,WIRED’s editor in chief Gideon Lichfield mulls...,[1592511744806486016]
3,1344951,1592502932754550784,2022-11-15T13:01:01.000Z,Can you guess what this is? This unbelievable ...,[1592502932754550784]
4,1344951,1592488950043656192,2022-11-15T12:05:27.000Z,Europe’s cities are growing denser once more—a...,[1592488950043656192]

In [43]:
# FiveThirtyEight

# Saving data as dictionary
tweets_fte_dict = tweets_fte.json() 

# Extracting "data" value from dictionary
tweets_fte_data = tweets_fte_dict['data'] 

# Transforming to pandas Dataframe
df_fte = pd.json_normalize(tweets_fte_data)

In [44]:
df_fte.head()

,text,edit_history_tweet_ids,created_at,id,author_id
0,Politics Podcast: Why Democrats beat historica...,[1592521911765913600],2022-11-15T14:16:26.000Z,1592521911765913600,2303751216
1,"The best NFL receivers, according to ESPN anal...",[1592328791904423939],2022-11-15T01:29:02.000Z,1592328791904423939,2303751216
2,The Colts hired Jeff Saturday as head coach. W...,[1592317734725074946],2022-11-15T00:45:06.000Z,1592317734725074946,2303751216
3,While many factors have influenced the midterm...,[1592302114083991553],2022-11-14T23:43:02.000Z,1592302114083991553,2303751216
4,Our NBA predictions: https://t.co/xhAfM9epHk,[1592287550814789634],2022-11-14T22:45:10.000Z,1592287550814789634,2303751216

## Saving dataframes as csv-files

In [46]:
# WIRED

df_wired.to_csv("../data/raw/twitter-WIRED.csv")

In [47]:
# FiveThirtyEight

df_fte.to_csv("../data/raw/twitter-FIVETHIRTYEIGHT.csv")