# Data exploration 

---

Group name: Group B


---


## Introduction

*This section includes a short description of the data* 

As data set we will use world-cup-2022. 
This data set predicts the Soccer Power Index (SPI) ratings and chances of advancing for every team participating at the World Cup 2022. The data is updating live.
It is divided by data of the matches and data for the forecast. We are focussing on data of the tournament forecast. All in all 4 Visualisations will be created with Module Altair.

## Setup

In [14]:
import pandas as pd
import altair as alt
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

## Data

## Import data

In [27]:
import pandas as pd

df_world_cup = pd.read_csv("../data/external/data.csv", sep=",")

### Data structure

In [28]:
df_world_cup.head()

,forecast_timestamp,team,group,spi,global_o,global_d,sim_wins,sim_ties,sim_losses,sim_goal_diff,...,group_1,group_2,group_3,group_4,make_round_of_16,make_quarters,make_semis,make_final,win_league,timestamp
0,2022-11-28 20:59:50 UTC,Brazil,G,93.48139,3.06210,0.23656,2.81289,0.15059,0.03652,4.94744,...,0.99515,0.00485,0.00000,0.00000,1.00000,0.82256,0.53731,0.39419,0.26002,2022-11-28 21:01:22 UTC
1,2022-11-28 20:59:50 UTC,Spain,E,90.62031,2.84092,0.33577,1.61371,1.24833,0.13796,8.04799,...,0.84893,0.14284,0.00823,0.00000,0.99177,0.72213,0.35169,0.23196,0.13658,2022-11-28 21:01:22 UTC
2,2022-11-28 20:59:50 UTC,France,D,90.14910,3.03006,0.45553,2.64890,0.23851,0.11259,5.18540,...,0.99992,0.00008,0.00000,0.00000,1.00000,0.75998,0.47603,0.27224,0.13269,2022-11-28 21:01:22 UTC
3,2022-11-28 20:59:50 UTC,Portugal,H,87.55187,2.81564,0.51015,2.58556,0.24741,0.16703,3.94343,...,0.98834,0.01166,0.00000,0.00000,1.00000,0.65092,0.35302,0.18387,0.08195,2022-11-28 21:01:22 UTC
4,2022-11-28 20:59:50 UTC,Argentina,C,86.02625,2.48839,0.42171,1.57821,0.26472,1.15707,1.89454,...,0.57290,0.20115,0.22498,0.00097,0.77405,0.49381,0.29805,0.12681,0.06528,2022-11-28 21:01:22 UTC

### Data corrections

#### Lowercase and whitespace

In [38]:

df_world_cup.columns = df_world_cup.columns.str.lower().str.replace(' ', '_')
df_world_cup

,forecast_timestamp,team,group,spi,global_o,global_d,sim_wins,sim_ties,sim_losses,sim_goal_diff,...,group_1,group_2,group_3,group_4,make_round_of_16,make_quarters,make_semis,make_final,win_league,timestamp
0,2022-11-28 20:59:50 UTC,brazil,g,93.48139,3.06210,0.23656,2.81289,0.15059,0.03652,4.94744,...,0.99515,0.00485,0.00000,0.00000,1.00000,0.82256,0.53731,0.39419,0.26002,2022-11-28 21:01:22 UTC
1,2022-11-28 20:59:50 UTC,spain,e,90.62031,2.84092,0.33577,1.61371,1.24833,0.13796,8.04799,...,0.84893,0.14284,0.00823,0.00000,0.99177,0.72213,0.35169,0.23196,0.13658,2022-11-28 21:01:22 UTC
2,2022-11-28 20:59:50 UTC,france,d,90.14910,3.03006,0.45553,2.64890,0.23851,0.11259,5.18540,...,0.99992,0.00008,0.00000,0.00000,1.00000,0.75998,0.47603,0.27224,0.13269,2022-11-28 21:01:22 UTC
3,2022-11-28 20:59:50 UTC,portugal,h,87.55187,2.81564,0.51015,2.58556,0.24741,0.16703,3.94343,...,0.98834,0.01166,0.00000,0.00000,1.00000,0.65092,0.35302,0.18387,0.08195,2022-11-28 21:01:22 UTC
4,2022-11-28 20:59:50 UTC,argentina,c,86.02625,2.48839,0.42171,1.57821,0.26472,1.15707,1.89454,...,0.57290,0.20115,0.22498,0.00097,0.77405,0.49381,0.29805,0.12681,0.06528,2022-11-28 21:01:22 UTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,2022-11-16 16:00:55 UTC,saudi arabia,c,56.86592,1.50018,0.99118,0.59721,0.79021,1.61258,-2.26444,...,0.06973,0.17476,0.29436,0.46115,0.24449,0.06913,0.02164,0.00516,0.00132,2022-11-28 21:01:22 UTC
92,2022-11-16 16:00:55 UTC,australia,d,60.83178,1.59388,0.91112,0.55148,0.79247,1.65605,-2.49253,...,0.05911,0.15706,0.30240,0.48143,0.21617,0.06500,0.02062,0.00454,0.00124,2022-11-28 21:01:22 UTC
93,2022-11-16 16:00:55 UTC,qatar,a,51.00223,1.57111,1.31642,0.56555,0.68681,1.74764,-2.95133,...,0.06806,0.14850,0.25634,0.52710,0.21656,0.06588,0.01840,0.00399,0.00096,2022-11-28 21:01:22 UTC
94,2022-11-16 16:00:55 UTC,ghana,h,58.62702,1.43347,0.85806,0.46730,0.80877,1.72393,-2.74111,...,0.04662,0.13341,0.28475,0.53522,0.18003,0.03586,0.00945,0.00284,0.00063,2022-11-28 21:01:22 UTC
95,2022-11-16 16:00:55 UTC,costa rica,e,55.45518,1.39816,0.95388,0.29847,0.61279,2.08874,-4.39879,...,0.01743,0.06655,0.22772,0.68830,0.08398,0.02290,0.00510,0.00132,0.00032,2022-11-28 21:01:22 UTC

## Exploratory data analysis

In [39]:
df_world_cup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   forecast_timestamp  96 non-null     object
 1   team                96 non-null     object
 2   group               96 non-null     object
 3   spi                 96 non-null     float64
 4   global_o            96 non-null     float64
 5   global_d            96 non-null     float64
 6   sim_wins            96 non-null     float64
 7   sim_ties            96 non-null     float64
 8   sim_losses          96 non-null     float64
 9   sim_goal_diff       96 non-null     float64
 10  goals_scored        96 non-null     float64
 11  goals_against       96 non-null     float64
 12  group_1             96 non-null     float64
 13  group_2             96 non-null     float64
 14  group_3             96 non-null     float64
 15  group_4             96 non-null     float64
 16  make_round_of_16    96 non-null     float64
 17  make_quarters       96 non-null     float64
 18  make_semis          96 non-null     float64
 19  make_final          96 non-null     float64
 20  win_league          96 non-null     float64
 21  timestamp           96 non-null     object
dtypes: float64(18), object(4)
memory usage: 16.6+ KB

### Statistics

In [44]:
df_world_cup['goals_scored'].mean()

print(f"mean of goals_scored is {df_world_cup['goals_scored'].mean()}")

df_world_cup['goals_scored'].median()
print(f"median of goals_scored is {df_world_cup['goals_scored'].median()}")

df_world_cup['goals_scored'].std().round(2)
print(f"std of goals_scored is {df_world_cup['goals_scored'].std()}")

mean of goals_scored is 3.765007916666667
median of goals_scored is 3.3691899999999997
std of goals_scored is 1.8990114467474173

In [45]:
df_world_cup.describe().T.round(2)

                  count   mean    std    min    25%    50%    75%    max
spi                96.0  74.14  11.12  48.16  66.07  74.33  82.96  93.66
global_o           96.0   2.11   0.51   1.28   1.69   2.00   2.53   3.22
global_d           96.0   0.69   0.20   0.24   0.57   0.68   0.79   1.32
sim_wins           96.0   1.09   0.64   0.04   0.59   1.06   1.54   2.81
sim_ties           96.0   0.82   0.44   0.14   0.52   0.77   1.17   2.32
sim_losses         96.0   1.09   0.61   0.04   0.59   1.08   1.53   2.78
sim_goal_diff      96.0   0.00   3.04 -10.09  -1.49  -0.15   1.58   8.54
goals_scored       96.0   3.77   1.90   0.60   2.49   3.37   4.76  10.61
goals_against      96.0   3.77   1.81   0.31   2.50   3.59   4.38  11.39
group_1            96.0   0.25   0.28   0.00   0.03   0.14   0.37   1.00
group_2            96.0   0.25   0.15   0.00   0.16   0.24   0.31   0.67
group_3            96.0   0.25   0.15   0.00   0.14   0.26   0.31   0.80
group_4            96.0   0.25   0.26   0.00   0.04   0.20   0.36   1.00
make_round_of_16   96.0   0.50   0.29   0.00   0.30   0.47   0.76   1.00
make_quarters      96.0   0.25   0.21   0.00   0.10   0.18   0.33   0.82
make_semis         96.0   0.12   0.13   0.00   0.04   0.07   0.16   0.54
make_final         96.0   0.06   0.08   0.00   0.01   0.03   0.07   0.39
win_league         96.0   0.03   0.05   0.00   0.00   0.01   0.03   0.26

### Histogram Goals Scored per Team

Following histogram should show numeric data type goals_scored of the object team. As one numerical data type is used a histogram is adquate.

In [50]:
df_goals_team = df_world_cup[['goals_scored', 'team']]

df_goals_team

    goals_scored          team
0        5.26053        brazil
1        9.76438         spain
2        7.78972        france
3        6.80943      portugal
4        4.61122     argentina
..           ...           ...
91       2.55321  saudi arabia
92       2.36908     australia
93       3.11894         qatar
94       1.99867         ghana
95       1.80860    costa rica

[96 rows x 2 columns]

In [62]:
#import altair
import altair as alt

#using created data set
df_goals_team

source = df_goals_team

base = alt.Chart(source)

bar = base.mark_bar().encode(
    x=alt.X('goals_scored', bin=True, axis=None),
    y='count()'
)

rule = base.mark_rule(color='red').encode(
    x='mean(goals_scored):Q',
    size=alt.value(5)
)

bar + rule

alt.LayerChart(...)